
body{
	
	font-size: 20px;
	margin: 0px;
	font-family: 'Pacifico', cursive;
	
}

.nav{
	
	background-color: red;
	padding: 5px;
	position: fixed;
	width: 100%;
	
}

.navChild{
	
	height: 50px;
	margin: 5px;
	border-radius: 50px;
	border: none;
	background-color: white;
	display: inline;
	
}

.dropDown{
	
	width: 50px;
	font-size: 20px;
	
}

.searchButton{
	
	width: 50px;
	margin-right: 15px;
	
}

.searchBar{
	
	width: calc(100% - 170px);
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	
}

.videoList{
	
	padding: 2px;
	
}

img{
	
	width: calc(50% - 3px);
	height: auto;
	
}

.bottomBar{
	
	/* position: fixed; */
	padding: 5px;
	background-color: red;
	display: float;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	
}

.bottomChild{
	
	height: 50px;
	width:  50px;
	margin: 5px;
	border-radius: 50px;
	border: none;
	background-color: white;
	
}

.add{
	
	float: right;
	margin-right: 15px;
	
}

.profile{
	
	float: left;
	
}

.logo{
	
	display: inline;
	font-size: 35px;
	color: black;
	
}

.logoDesktop{
	
	display: none;
	
}


@media (min-width: 768px){
	
	.bottomBar{
		
		display: none;
		
	}
	
	.logoDesktop{
		
		display: inline;
		
	}
	
	.dropDown{
		
		display: none;
		
	}
	
	.searchBar{
		
		margin-left: 10px;
		width: calc(100% - 355px);
		
	}
	
	.videoList{
		
		position: relative;
		left: 20%;
		top: 85px;
		
	}
	
	img{
		
		width: 26%;
		height: auto;
		
	}
	
	.nav{
		
		position: fixed;
		z-index: 1;
		
	}
	
	.categoriesDesktop{
		
		position: absolute;
		background-color: red;
		right: 80%;
		width: 20%;
		height: 630px;
		top: 87px;
		
	}
	
	.cat{
		
		width: 90%;
		margin: 10px;
		padding-top: 10px;
		border-radius: 50px;
		border: none;
		background-color: white;
		font-family: 'Pacifico', cursive;
		
	}
	
	.profileDesktop, .addDesktop{
		
		width: 40%;
		
	}
		
}






  

